
@{
    ViewData["Title"] = "userlist";
    Layout = "~/Views/Shared/_AdminLayoutnew.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        var recordtable;
        var _defaulttablename = "appuserQuery";


        var tip;

        $(function () {


            recordtable = $('#recordtable').DataTable({
                "serverSide": true,
                //"jQueryUI": true,
                "stateSave": false,
                "pagingType": "full_numbers",
                "ajax": {
                    "url": "/appusers/datatables",
                    "type": "POST",
                    "contentType": "application/json; charset=utf-8",
                    "data": function (d) {
                        d.dataqueryname = _defaulttablename;
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    { "data": "name" },
                    { "data": "surname" },
                    { "data": "username" },
                    { "data": "email" },
                    { "data": "role" },
                    {
                        "data": "id", className: "text-center", "render": function (data, type, row) {
                            var html = "<a title='İş Listesi' data-id='" + data + "' class='btn  btn-info btntask' data-toggle='tooltip' ><i class='iconsminds-suitcase '></i></a></a>";
                            return html;
                        }
                    }
                ]

            });

            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd'
                //startDate: '-3d'
            });

            $("#ekle").click(function () {

                $.confirm({
                    title: 'Kullanıcı Ekle',
                    content: $("#formtemplete").html(),
                    columnClass: 'col-md-8',
                    containerFluid: true,
                    buttons: {
                        formSubmit: {
                            text: 'Kayit',
                            btnClass: 'btn-blue',
                            action: function () {
                                $.ajax({
                                    type: "POST",
                                    url: "/appusers/addUser",
                                    data: JSON.stringify({
                                        "name": this.$content.find('#name').val(),
                                        "surname": this.$content.find('#surname').val(),
                                        "role": this.$content.find('#role').val(),
                                        "email": this.$content.find('#email').val(),
                                        "password": this.$content.find('#password').val(),
                                        "tel": this.$content.find('#tel').val(),
                                        "username": this.$content.find('#username').val(),
                                        "ispsv": this.$content.find('#username').is(":checked")
                                    }),
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (msg) {

                                        if (msg.status) {
                                            var obj = JSON.parse(msg.jsonObj)
                                            $.toast({ title: "İşlem Başarılı", type: 'success', delay: 2000, });

                                            recordtable.draw();
                                        } else {
                                            $.alert(msg.message);
                                        }



                                    }
                                });

                            }
                        },
                        formClose: {
                            text: 'Kapat',
                            btnClass: 'btn-blue'

                        }

                    },

                    onOpen: function () {


                    },
                    onContentReady: function () {


                        var jc = this;
                        this.$content.find('form').on('submit', function (e) {
                            e.preventDefault();
                            jc.$$formSubmit.trigger('click'); // reference the button and click it
                        });
                    }
                });

            });


            $(".dataTable tbody").on("click", "a.btntask", function () {
                var id = $(this).attr("data-id");
                window.location = "/taskmanagement/tasklist/"+id;

          

            });


        });

        /**/</script>


    <script type="text/template" id="formtemplete">
        <div class="col-md-12 ">
            <div class="form-group col-md-12 ">
                <label>İsim</label>
                <input class="form-control " id="name" />
            </div>
            <div class="form-group col-md-12">
                <label class="">Soyisim</label>
                <input class="form-control" id="surname" />
            </div>
            <div class="form-group col-md-12">

                <label class="">Role</label>
                <select class="form-control" id="role">
                    <option>admin</option>
                    <option>satis</option>
                    <option>muhasebe</option>
                    <option>yonetim</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label class="">Username</label>
                <input class="form-control" id="username" />
            </div>
            <div class="form-group col-md-12">
                <label class="">Email</label>
                <input class="form-control" id="email" />
            </div>
            <div class="form-group col-md-12">
                <label class="">Telefon </label>
                <input class="form-control" id="tel" />
            </div>
            <div class="form-group col-md-12">
                <label class="">Şifre</label>
                <input class="form-control" id="password" />
            </div>
            <div class="form-group col-md-12">
                <label for="ispsv">Pasif  </label>
                <input type="checkbox" id="ispsv" />
            </div>


        </div>
    </script>
}



<div class="col-md-12">

    <h1>Kullanıcılar Tasks</h1>
    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
            <li class="breadcrumb-item">
                <a href="#">Tasks</a>
            </li>

            <li class="breadcrumb-item active" aria-current="page">Kullanıcılar </li>
        </ol>
    </nav>
    
</div>

<div class="container-fluid">
    <div class="row">


        <div class="col-md-12">
            <div class="card">

                <div class="card-body">

                
                    <div class="table-responsive">

                        <table id="recordtable" class="table table-sm table-bordered dataTable">
                            <thead class="">
                                <tr>

                                    <th>İsim  </th>
                                    <th>Soyİsim  </th>
                                    <th>Username </th>
                                    <th>Email  </th>
                                    <th>Role </th>
                                    <th> </th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

