@model indexModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayoutnew.cshtml";

}


<div class="row  col-md-12">

    <iframe src="http://intranet.gencpa.com.tr/" style="height:800px;width:100%" title="Iframe Example"></iframe>



</div>




        @section Scripts{
       
            <script type="text/javascript">


                $(function () {


           




                })
            </script>
            <script type="text/template" id="formbutce">

                <div class="form-group">
                    <label class="float-left">Butce</label>
                    <input class="form-control " type="text" id="lastcost" />
                </div>

            </script>
        }



