
@model gncerp.Models.loginModel

@{
    ViewData["Title"] = "Login";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gençpa ERP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/tema/font/iconsmind-s/css/iconsminds.css" />
    <link rel="stylesheet" href="~/tema/font/simple-line-icons/css/simple-line-icons.css" />

    <link rel="stylesheet" href="~/tema/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="~/tema/css/vendor/bootstrap.rtl.only.min.css" />
    <link rel="stylesheet" href="~/tema/css/vendor/bootstrap-float-label.min.css" />
    <link rel="stylesheet" href="~/tema/css/main.css" />
</head>

<body class="background show-spinner no-footer">
    <div ></div>
    <main>
        <div class="container">
            <div class="row h-100">
                <div class="col-12 col-md-10 mx-auto my-auto">
                    <div class="card auth-card">
                        <div class="position-relative image-side ">

                       

                  
                        </div>
                        <div class="form-side">

                            <a href="/">
                                <img src="~/img/Uygualamalari.png" alt="Gençpa Logo" style="width:90%">

                            </a>
                            <h6 class="mb-4">Giriş</h6>
                            <div>
                                <label class="form-group has-float-label mb-4">
                                    <input id="emailinput" class="form-control" />

                                    <span>E-mail</span>
                                </label>
                                <label class="form-group has-float-label mb-4">
                                    <input id="passwordinput" class="form-control" type="password" placeholder="" />
                                    <span>Şifre</span>
                                </label>

                                <div class="d-flex justify-content-between align-items-center">
                                    @*<a href="#">Forget password?</a>*@
                                    <button class="btn btn-primary btn-lg btn-shadow btnlogin">Giriş</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="~/tema/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/tema/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/tema/js/dore.script.js"></script>
    <script src="~/tema/js/scripts.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script type="text/javascript">

        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });

        $('#to-login').click(function () {

            $("#recoverform").hide();
            $("#loginform").fadeIn();
        });

        $(function () {
            $("#username, #password").keypress(function (e) {
                if (e.which == 13) {

                    $(".btnlogin").trigger("click");
                }
            });

            $(".btnlogin").click(function () {
                if ($("#passwordinput").val().trim() == "" || $("#emailinput").val().trim() == "") {
                    alert("Email  ve Şifre No zorunludur");
                    return false;
                }

                 $.LoadingOverlay("show");

                $.ajax({
                    type: "POST",
                    url: "/account/Login",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        'email': $("#emailinput").val().trim(),
                        'password': $("#passwordinput").val().trim()
                    }),
                    success: function (data) {

                    

                        var jsondata = data;
                        if (jsondata.status) {

                            window.location.href = "/Home/intranet";
                        }
                        else {
                            //loader.stop();
                            alert(jsondata.message)

                            //$this.css("display", "inline-block");
                            $(".preloader").fadeOut();
                        }
                          $.LoadingOverlay("hide");
                    }
                });
            });


        });
    </script>


</body>

</html>

